@import "../global.scss";

.container {
  // გამოყენებული გაქვს არასწორი layout ელემენტების პოზიციონირებისთვის, flex გამოსადეგია უმეტეს შემთხვევაში, მაგრამ დიდი რაოდენობის ელემენტების სამართავად, განსაკუთრებით ავტომატური რესპონსივისთვის Grid-თან ახლოსაც ვერ მივა!
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
  // დაშორება ელემენტებს ან კომპონენტებს შორის უნდა იყოს გაწერილი global.scss-ში
  margin: $margin-between-components 0 0 $margin-between-components;
}

.column {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.div-image {
  height: 160px;
  // მოერიდე min-height-ის გამოყენებას
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.column-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-div {
  height: 100px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.data-id {
  height: 40px;
  text-align: center;
  // გრძელი ტექსტის შემთხვევაში, დახატე შენთვის სასურველი რაოდენობის სიტყვა, დანარჩენი მოაჭერი და მის მაგივრად დახატე 3 წერტილი (...) უკეთესი ვიზუალისთვის
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

button {
  background-color: $primary-color;
  width: 100%;
  border: none;
  height: 30px;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.3s ease;
  &:hover {
    color: $secondary-color;
  }
}

.message-banner-closed {
  width: 300px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  background-color: $primary-color;
  color: #ffff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  transition: all 0.3s ease; // ანიმაციისთვის
}

.message-banner-opened {
  transform: translateX(-50%) scaleX(1); // ანიმაციისთვის
}