@import "./global.scss";

header {
  // background-ის ფერი, ისევე როგორც დაშორებები ეკუთვნის header-ს და არა ნავიგაციას
  padding: 18px $margin-between-components;
  background-color: $primary-color;
  position: sticky;
  top: 0;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 0 ეფექტი
  
  // განსხვავებით css-ისგან, ელემენტები scss-ში უნდა იყოს ერთმანეთის შიგნით, მეტი თვალსაჩინოებისთვის
  nav {
    display: flex;
    align-items: center;
    text-align: center;

    ul {
      display: flex;

      li {
        list-style-type: none;
        font-size: $default-fontsize;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        a {
          color: #ffff;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $secondary-color;
          }
        }
      }

      li:nth-child(1) {
        margin-right: 30px;
      }

      .cart-container {
        position: relative;
        display: inline-block;

        .cart-count {
          position: absolute;
          top: -12px;
          right: -20px;
          background-color: goldenrod; // გამოიყენე global.scss
          color: white;
          border-radius: 50%;
          padding: 0px 5px;
          font-size: $default-fontsize; // გამოიყენე global.scss...
          vertical-align: middle;
        }
      }
    }
  }
}


// არ არის საჭირო @media query