$primary-color: #16a800;
$secondary-color: #00eeff;

// default ფონტის ზომა 16 პიქსელია და დიდის 18?
$small-font-size: 12px;
$default-fontsize: 16px;
$big-fontsize: 22px;
$media-small-fontsize:14px;

$margin-between-components: 30px;